<div class='container'>

  <div class='top'>
    <h1>Make your order:</h1>
    <% if @restaurant.name == "Chipotle" %>
      <form class='order_form' id='chipotle_form' action='/generate' method='POST'>
        <input type='hidden' name='order[id]' value='<%= @order.id %>'/>
        <label>Name: <input type='text' id='name' autofocus name='order[name]' placeholder='enter your first name'></label><br>
        <label>Food Type: <select class='pulldown' name='order[type]'>
          <option value='' selected disabled></option>
          <option value="<%= @restaurant.items[0].id %>"><%= @restaurant.items[0].name.capitalize %></option>
          <option value="<%= @restaurant.items[1].id %>"><%= @restaurant.items[1].name.capitalize %></option>
          <option value="<%= @restaurant.items[2].id %>"><%= @restaurant.items[2].name.capitalize %></option>
          <option value="<%= @restaurant.items[3].id %>"><%= @restaurant.items[3].name.capitalize %></option>
        </select></label><br>
        <label>Meat: <select class='pulldown' name='order[meat]'>
          <option value='' selected disabled></option>
          <option value="<%= @restaurant.items[4].id %>"><%= @restaurant.items[4].name.capitalize %></option>
          <option value="<%= @restaurant.items[5].id %>"><%= @restaurant.items[5].name.capitalize %></option>
          <option value="<%= @restaurant.items[6].id %>"><%= @restaurant.items[6].name.capitalize %></option>
          <option value="<%= @restaurant.items[7].id %>"><%= @restaurant.items[7].name.capitalize %></option>
          <option value="<%= @restaurant.items[8].id %>"><%= @restaurant.items[8].name.capitalize %></option>
          <option value="<%= @restaurant.items[9].id %>"><%= @restaurant.items[9].name.capitalize %></option>
        </select></label><br>
        <label>Rice: <select class='pulldown' name='order[rice]'>
          <option value='' selected disabled></option>
          <option value="<%= @restaurant.items[10].id %>"><%= @restaurant.items[10].name.capitalize %></option>
          <option value="<%= @restaurant.items[11].id %>"><%= @restaurant.items[11].name.capitalize %></option>
        </select></label><br>
        <label>Beans: <select class='pulldown' name='order[beans]'>
          <option value='' selected disabled></option>
          <option value="<%= @restaurant.items[12].id %>"><%= @restaurant.items[12].name.capitalize %></option>
          <option value="<%= @restaurant.items[13].id %>"><%= @restaurant.items[13].name.capitalize %></option>
        </select></label><br>
        <div id='toppings'><label>Toppings:</label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_1]' value="<%= @restaurant.items[14].id %>"> <%= @restaurant.items[14].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_2]' value="<%= @restaurant.items[15].id %>"> <%= @restaurant.items[15].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_3]' value="<%= @restaurant.items[16].id %>"> <%= @restaurant.items[16].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_4]' value="<%= @restaurant.items[17].id %>"> <%= @restaurant.items[17].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_5]' value="<%= @restaurant.items[18].id %>"> <%= @restaurant.items[18].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_6]' value="<%= @restaurant.items[19].id %>"> <%= @restaurant.items[19].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_7]' value="<%= @restaurant.items[20].id %>"> <%= @restaurant.items[20].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_8]' value="<%= @restaurant.items[21].id %>"> <%= @restaurant.items[21].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[toppings_9]' value="<%= @restaurant.items[22].id %>"> <%= @restaurant.items[22].name.capitalize %></label></div><br>
        <div id='toppings'><label>Extras:</label><br>
          <label><input type='checkbox' class='checkbox' name='order[extras_1]' value="<%= @restaurant.items[23].id %>"> <%= @restaurant.items[23].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[extras_2]' value="<%= @restaurant.items[24].id %>"> <%= @restaurant.items[24].name.capitalize %></label><br>
          <label><input type='checkbox' class='checkbox' name='order[extras_3]' value="<%= @restaurant.items[25].id %>"> <%= @restaurant.items[25].name.capitalize %></label>
        </div><br>
        <input type='submit' value='Submit Your Order'>
      </form>
    <% end %>
  </div>

</div>    